<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>DIYHome自动打包-登陆</title>
    <meta charset="UTF-8">
    <link href="{% static 'Anchor-Bootstrap-UI-Kit/assets/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'Anchor-Bootstrap-UI-Kit/assets/css/vendor/aos.css' %}" rel="stylesheet"/>
</head>

<body>
<div style="background-color: #1f1f1f;">
    <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">

        <form method="POST" class="border rounded p-5" style="background-color: #5d5b583d; width: 20% ;height: 300px">
            <h3 class="mb-4 text-center" style="color: white">登录</h3>
            {% csrf_token %}
            <div class="form-group">
                {#                <label for="username">用户名</label>#}
                <input type="text" name="username" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp"
                       placeholder="请使用OA账号登录" required="">
            </div>
            <div class="form-group">
                {#                <label for="password">密码</label>#}
                <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                       placeholder="密码"
                       required="">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-round" style="width:150px">登录</button>
            </div>

        </form>
    </div>
    <div>
        {% if messages %}
            <div id="alertBox" class="alert">

                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>

            </div>
        {% endif %}
    </div>

    <script>
        // 等待3秒后隐藏消息框
        setTimeout(function () {
            var alertBox = document.getElementById('alertBox');
            alertBox.style.opacity = 0;  // 设置透明度为0
        }, 3000); // 3000毫秒 = 3秒
    </script>
</div>
</body>

</html>